# RapidAPI LinkedIn Job Search API
rapidhost=linkedin-job-search-api.p.rapidapi.com
rapidkey_1=your_rapidapi_key_1
rapidkey_2=your_rapidapi_key_2
rapidkey_3=your_rapidapi_key_3
rapidkey_4=your_rapidapi_key_4
